extends ../layout.jade

block title
  title Authors

block content
  h1 See all the puppies!
  a(href="/puppies/new") Add a new puppy
    i.glyphicon.glyphicon-pencil

  each puppy in puppies
    h2 Name/Age - #{puppy.name}, #{puppy.age}

    p
      a(href="/puppies/#{puppy.id}") See some more about #{puppy.name}

    a(href="/puppies/#{puppy.id}/edit", class="btn btn-info") Edit this puppy

    form(action="/puppies/#{puppy.id}?_method=delete", method="POST")
      input(type="submit" value="Delete this puppy" class="btn btn-danger")